.Header {
    border: var(--border);
    text-align: center;
    padding: 20px;
    /* margin: var(--main-header-margin) auto; */
    margin: 0 auto;
    /* background-color: palegoldenrod; */
    /* background-color: #4AD7E0; */
    background-color: var(--main-header-bg-color);
    color: var(--main-header-color);
  }
